.traffic-title
{
	background-color: #36404a;
	color: white;
	padding: 10px;
    margin-bottom: 5px; 
}

tr#total-result>td {
  padding-top: 5em;
}

.traffic-list td:nth-child(2)
{
	background-color: #36404a;
	color: white;
}

.traffic-list-table
{
	border-collapse: collapse;
}

.firefox td:nth-child(2)
{
	color: #228B22;
}

.crome td:nth-child(2)
{
	color: yellow;
}

.explorer td:nth-child(2)
{
	color: #006400;
}

.mobile-or-tablet td:nth-child(2)
{
	color: red;
}

.other td:nth-child(2)
{
	color: brown;
}

