/*
#sidebar-left {
	background-color: #36404a;
	display: inline-block;
	vertical-align: top;
	height: 100%;
	overflow: auto;
	text-align: center;
}*/

#sidebar-left {
	float: left;
	width: 5%;
	background-color: #364049;
	height: 100%;
	/*z-index: 1;*/
	position: fixed;
	/*top: 10%;*/
    top: 0;
	left: 0;
	overflow-x: hidden;
}

#sidebar-left i
{
	color: white;
}
#sidebar-left *
{
	padding-top: 7px;
	padding-left: 8px; 
	font-size: 20px;
}

ul
{
	list-style-type: none;
}