<button mat-raised-button color="accent" (click)="addOne()">Add Hacker to Firestore</button>

<div class="example-container mat-elevation-z8">
  <div class="example-header">
    <mat-form-field>
      <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter">
    </mat-form-field>
  </div>

  <mat-table #table [dataSource]="dataSource" matSort [trackBy]="trackByUid" class="animate">

    <ng-container matColumnDef="FirstName">
      <mat-header-cell *matHeaderCellDef mat-sort-header> Name </mat-header-cell>
      <mat-cell *matCellDef="let hacker"> {{ hacker.FirstName }} </mat-cell>
    </ng-container>


    <ng-container matColumnDef="LastName">
      <mat-header-cell *matHeaderCellDef mat-sort-header> age </mat-header-cell>
      <mat-cell *matCellDef="let hacker"> {{ hacker.LastName }} </mat-cell>
    </ng-container>

    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns;" class="animate"></mat-row>
  </mat-table>
</div>