<form [formGroup]="personForm" (ngSubmit)="onFormUpdate(personForm.value)">
    <mat-form-field class="example-full-width">
      <input matInput placeholder="First Name" formControlName="FirstName"
             [errorStateMatcher]="matcher" [(ngModel)]="this.FirstName">
      <mat-error>
        <span *ngIf="!personForm.get('FirstName').valid && personForm.get('FirstName').touched">Please enter First Name</span>
      </mat-error>
    </mat-form-field>
    <mat-form-field class="example-full-width">
      <input matInput placeholder="Last Name" formControlName="LastName"
             [errorStateMatcher]="matcher" [(ngModel)]="this.LastName">
      <mat-error>
        <span *ngIf="!personForm.get('LastName').valid && personForm.get('LastName').touched">Please enter Last Name</span>
      </mat-error>
    </mat-form-field>
    <div class="button-row">
      <button type="submit" [disabled]="!personForm.valid" mat-fab color="primary"><mat-icon>save</mat-icon></button>
    </div>
  </form>
