<div class="button-row">
  <a mat-fab color="primary" (click)="personsDetails()"><mat-icon>account_circle</mat-icon></a>
</div>
<form [formGroup]="personForm" (ngSubmit)="onFormSubmit(personForm.value)">
  <mat-form-field class="example-full-width">
    <input matInput placeholder="First Name" formControlName="FirstName"
           [errorStateMatcher]="matcher">
    <mat-error>
      <span *ngIf="!personForm.get('FirstName').valid && personForm.get('FirstName').touched">Please enter Book Title</span>
    </mat-error>
  </mat-form-field>
  <br>
  <mat-form-field class="example-full-width">
    <input matInput placeholder="Last Name" formControlName="LastName"
           [errorStateMatcher]="matcher">
    <mat-error>
      <span *ngIf="!personForm.get('LastName').valid && personForm.get('LastName').touched">Please enter Book Description</span>
    </mat-error>
  </mat-form-field>
  <div class="button-row">
    <button type="submit" [disabled]="!personForm.valid" mat-fab color="primary"><mat-icon>save</mat-icon></button>
  </div>
</form>
