body
{
	margin: 5%;
	background-color: 	#757380;
	/*background-image: url("sunset.png");*/
}
.grid 
{
	/*background-color: #444;*/

}
.container
{
	display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(12, 1fr);
    grid-gap: 3%;	
}

h2
{
	padding: 0;
	margin: 0;
}

