<mat-toolbar color="primary">
  <mat-toolbar-row>
    <button mat-icon-button (click)="snav.toggle()">
      <mat-icon>menu</mat-icon>
    </button>
    <span>{{title}}</span>

    <span class="example-spacer"></span>

    <button mat-button>About</button>
    <button mat-button>Services</button>
    <button mat-button>Contact</button>
  </mat-toolbar-row>
</mat-toolbar>

<mat-sidenav-container class="example-sidenav-container">
  <mat-sidenav #snav>
    <div class="sidebar-image">
      <img src="http://lorempixel.com/400/200/city" alt="placeholder image" />
    </div>
    <div class="sidebar-profile">
      <h2 class="profile-name">John Doe</h2>
    </div>

    <ul>
      <li><a href="#"><mat-icon>all_inbox</mat-icon>Inbox</a></li>
      <li><a href="#"><mat-icon>stars</mat-icon>Starred</a></li>
      <li><a href="#"><mat-icon>call</mat-icon>Call</a></li>
      <li><a href="#"><mat-icon>drafts</mat-icon>Draft</a></li>
      <li><a href="#"><mat-icon>send</mat-icon>Send</a></li>
    </ul>

  </mat-sidenav>
  <mat-sidenav-content>
    <div [class]="theme">
      <h1>
        Welcome to {{ title }}!
      </h1>
      <mat-card>
        <button mat-raised-button color="primary">Primary</button>
        <button mat-raised-button color="accent">Accent</button>
        <button mat-raised-button color="warn">Warn</button>
      </mat-card>
      <br>
      <mat-card>
        <mat-form-field>
          <mat-select placeholder="choose Theme" [(ngModel)]="theme" (selectionChange)="onThemeChange(theme)">
            <mat-option value="custom-theme-light">Custom Theme Light</mat-option>
            <mat-option value="custom-theme-dark">Custom Theme Dark</mat-option>
          </mat-select>
        </mat-form-field>
      </mat-card>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>

<router-outlet></router-outlet>