header {
	background-color: #FFFFFF;
	width: 100%;
	height: 50px;
	text-align: center;
}
.leftPartHeader
{
	float: left;
	padding-left: 10px;
}
.leftPartHeader *
{
	padding: 10px;
}
.rightPartHeader *
{
	padding: 10px;
}


.rightPartHeader
{
	float: right;
	padding-right: 10px;
}

.leftPartHeader,.rightPartHeader
{
	padding-top: 5px;

}

nav {
	float: left;
	width: 5%;
	background-color: #364049;
}

#sidebar-left i
{
	color: white;
}
#sidebar-left *
{
	padding-top: 7px;
}


#main {
	float: left;
	width: 95%;
	background-color: #EBEFF2;
	font-family: Arial, Helvetica, sans-serif;
}

#sidebar-left
{
	/*min-height: 600px;*/
	height: 100%;
}
#welcome_message
{
	padding-left: 10px;
}


ul
{
	list-style-type: none;
}

table
{
	background-color: white;
	margin-left: 10px;
	/*margin:  5px;
	margin-left: 10px;*/ 
}
th,td
{
	/*padding: 10px;*/
	padding: 1%;
	width: 6%;
	text-align: center;
}
#first_table_row
{
	border: 1px solid #ddd;
}

button
{
	border: none;
	color: white;
	padding: 5px 10px;
	text-align: center;
	text-decoration: none;
    font-size: 16px;
    margin: 2px 1px;
    border-radius: 8px;
}
.paid
{
	background-color: #00CCCB;
}
.pending
{
    background-color: #EEA80C;
}
.failed
{
    background-color: #FE6732;
}
#new_order_btn
{
	background-color: black;
}

.pagination {
    display: inline-block;
    padding-left: 40%;
    padding-top: 2%;
    padding-bottom: 2%;
}

.pagination a {
    color: black;
    float: left;
    padding: 8px 16px;
    text-decoration: none;
    transition: background-color .3s;
    border: 1px solid #ddd;
    border-radius: 50%;
    margin: 0 4px;
}

.pagination a.active {
    background-color: black;
    color: white;
    border: 1px solid black;
}

.pagination a:hover:not(.active) {background-color: #ddd;}

#back,#forward
{
	background-color: #FF5622;
	color: white;
}

.grid-container {
  display: grid;
  grid-gap: 10px;
  /*background-color: #2196F3;*/
  padding: 10px;
}
.grid-item {
  /*background-color: rgba(255, 255, 255, 0.8);*/
  background-color: white;
  text-align: center;
  padding: 20px;
}


.item1 {
  grid-column: 1;
  grid-row: 1;
}
.item2
{
	grid-column: 2;
	grid-row: 1 / span 2;
}
.item3
{
    grid-column: 3;
    grid-row: 1/span 2;
}
.item4
{
	grid-column: 4;
	grid-row: 1/ span 3;
}
.item5
{
	grid-column: 1;
	grid-row: 2/ span 3;
}

.item6
{
	grid-column: 2/ 4;
	grid-row: ;
}


#send-message
{
	width: 100%;
	height: 150px;
	margin-bottom: 10px;
}
.fa-camera
{
	float: left;
}

.fa-times
{
	float: right;
}


.client-item-title
{
	float: left;
}
.client-item-name
{
	float: right;
}
.traffic-source
{
	float: left;
}
.traffic-source-value
{
	float: right;
}
.money
{
	color:  #00CCCB;
	font-size: 20px;
	padding-bottom: 5px;
}

.fa-users
{
	color:  #00CCCB;
}

.fa-level-up
{
	color: red;
}
.extra-visitor-number
{
	color: red;
}
.fa-square
{
	color:  #00CCCB;
}
.fa-facebook-f
{
	color: blue;
}
.fa-camera
{
	color:  #00CCCB;
}
#upload
{
	float: left;
	padding-left: 2px;
}
.fa-times
{
	color: red;
}
/*
.item1
{
	grid-column: 1/ span 2;
	grid-row: 1/ span 2;
}

.item2
{
	grid-column: 3/ span 4;
	grid-row: 1/ span 3;
}

.item3
{
	grid-column: 5/ span 6;
	grid-row: 1/ span 3;
}
*/