<button mat-raised-button color="accent" (click)="addPerson()">
  <mat-icon>add</mat-icon>
  Add new Person
</button>

<mat-table #table [dataSource]="dataSource" matSort class="animate">

  <ng-container matColumnDef="FirstName">
    <mat-header-cell *matHeaderCellDef mat-sort-header> FirstName </mat-header-cell>
    <mat-cell *matCellDef="let person"> {{ person.FirstName }} </mat-cell>
  </ng-container>


  <ng-container matColumnDef="LastName">
    <mat-header-cell *matHeaderCellDef mat-sort-header> LastName </mat-header-cell>
    <mat-cell *matCellDef="let person"> {{ person.LastName }} </mat-cell>
  </ng-container>

  <ng-container matColumnDef="edit">
    <mat-header-cell *matHeaderCellDef> Edit </mat-header-cell>
    <mat-cell *matCellDef="let person">
      <button mat-raised-button color="primary" (click)="updatePerson(person.id)">
        <mat-icon>update</mat-icon>
        Edit
      </button>
    </mat-cell>
  </ng-container>

  <ng-container matColumnDef="delete">
    <mat-header-cell *matHeaderCellDef> Delete </mat-header-cell>
    <mat-cell *matCellDef="let person">
      <button mat-raised-button color="warn" (click)="openDialog(person)">
        <mat-icon>delete</mat-icon>Delete
      </button>
    </mat-cell>
  </ng-container>

  <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
  <mat-row *matRowDef="let row; columns: displayedColumns;" class="animate"></mat-row>
</mat-table>