<div class="button-row">
  <a mat-fab color="primary" [routerLink]="['/persons']"><mat-icon>list</mat-icon></a>
</div>
<mat-card class="example-card">
  <mat-card-header>
    <mat-card-title><h2>{{person.FirstName}}</h2></mat-card-title>
    <mat-card-subtitle>{{person.LastName}}</mat-card-subtitle>
  </mat-card-header>
  <mat-card-content>
    <dl>
      <dt>First Name:</dt>
      <dd>{{person.FirstName}}</dd>
      <dt>Last Name:</dt>
      <dd>{{person.LastName}}</dd>
  <!--    <dt>Update Date:</dt>
      <dd>{{board.updated_date | date}}</dd>  -->
    </dl>
  </mat-card-content>
  <mat-card-actions>
    <a mat-fab color="primary" [routerLink]="['/persons-edit', person.key]"><mat-icon>edit</mat-icon></a>
    <a mat-fab color="warn" (click)="deletePerson(person.key)"><mat-icon>delete</mat-icon></a>
  </mat-card-actions>
</mat-card>
