<div class="center">
<div class="button-row">
  <a mat-fab color="primary" [routerLink]="['/persons']"><mat-icon>list</mat-icon></a>
</div>
<mat-card class="example-card" flex="50">
  <mat-card-header>
    <div mat-card-avatar class="example-header-image"></div>
    <mat-card-title><h2>{{person.FirstName+" "+person.LastName}}</h2></mat-card-title>
    <!-- <mat-card-subtitle>{{person.LastName}}</mat-card-subtitle> -->
  </mat-card-header>
  <img mat-card-image src="http://lorempixel.com/400/200/abstract" alt="Photo of user">

  <mat-card-actions>
    <span class="leftAction">
        <a mat-fab color="primary" [routerLink]="['/persons-edit', person.key]"><mat-icon>edit</mat-icon></a>
    </span>
    <span class="rightAction">
        <a mat-fab color="warn" (click)="deletePerson(person.key)"><mat-icon>delete</mat-icon></a>
    </span>
  </mat-card-actions>
  
</mat-card>
</div>