.example-card {
    width: 50%;
    margin-bottom: 10%;
  }
  
  .button-row {
    margin: 10px 0;
  }

  .example-header-image {
    background-size: cover;
  }

  /* .leftAction{
    float: left;
  }*/
  .rightAction{
    /* float: right; */
    /* padding-left: 65%; */
  } 